 /* GENERAL CSS */

 @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:
    url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v29-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src:
    url('../fonts/roboto-v29-latin-500.woff2') format('woff2'),
    url('../fonts/roboto-v29-latin-500.woff') format('woff');
}

/* hind-madurai-regular - latin */
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/hind-madurai-v10-latin-regular.woff2') format('woff2'),
    url('../fonts/hind-madurai-v10-latin-regular.woff') format('woff');
}
/* hind-madurai-500 - latin */
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    src:
    url('../fonts/hind-madurai-v10-latin-500.woff2') format('woff2'),
    url('../fonts/hind-madurai-v10-latin-500.woff') format('woff');
}
/* hind-madurai-600 - latin */
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    src:
    url('../fonts/hind-madurai-v10-latin-600.woff2') format('woff2'),
    url('../fonts/hind-madurai-v10-latin-600.woff') format('woff');
}
/* hind-madurai-700 - latin */
@font-face {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    src:
    url('../fonts/hind-madurai-v10-latin-700.woff2') format('woff2'),
    url('../fonts/hind-madurai-v10-latin-700.woff') format('woff');
}

/* fredoka-one-regular - latin */
@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    src:
    url('../fonts/fredoka-one-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/fredoka-one-v12-latin-regular.woff') format('woff');
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #150101;


}

.container {
    width: 1165px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

}

img{
    display: inline-block;
}

.site-btn{
    text-decoration: none;
    padding: 14px 50px;
    background: #D23166;
    border-radius: 5px;
    font-family: 'Roboto' Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFA;
}

.site-btn:hover{
    opacity: 0.8;
}

.site-btn:active{
    opacity: 0.4;
}

/*------------- HEADER ----------------*/
.site-header{
    background: #F2CEDA;
}

.site-header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

}

.site-header-logo:hover{
    opacity: 0.8;
}

.site-header-logo:active{
    opacity: 0.4;
}


.sitenav-header{
    display: flex;
    align-items: center;

}

.sitenav-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}


.sitenav-link{
    text-decoration: none;
    padding: 20px;
    line-height: 16px;
    color: #150101;
    opacity: 0.6;
}

.header-link{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #D23166;
}


.sitenav-link:hover{
    opacity: 0.8;
}

.sitenav-link:active{
    opacity: 0.4;
}


.sitenav-buy-btn{
    text-decoration: none;
    padding: 14px 50px;
    background: #D23166;
    border-radius: 5px;

    font-family: 'Hind Madurai' Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFA;
}

.sitenav-buy-btn:hover{
    opacity: 0.8;
}

.sitenav-buy-btn:active{
    opacity: 0.4;
}

/* -------------------MAIN---------------- */


/* HERO */
.hero{
    /* background: #F2CEDA;
    background-image: url("../images/hero-bg-image.png");
    /* background-size: 895px 742px; */
    background-repeat: no-repeat;
    background-position:calc(50% +800px); */

}

.hero-wrapper{
    background-image: url("../images/hero-bg-image.png");
    background-size: 700px 600px;
    background-repeat: no-repeat;
    background-position: right center;

}

.hero-left{
    width: 665px;
    padding-top: 196px;
    padding-bottom: 213px;
}

.hero-top-desc{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.hero-heading{
    margin: 0;
    margin-bottom: 35px;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    opacity: 0.9;
}

.hero-heading-marked{
    color: #D23166;
}

.hero-desc{
    margin: 0;
    margin-bottom: 50px;
    width: 532px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    opacity: 0.6

}


/* services SECTION */

.services-list{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 82px;
    margin-bottom: 82px;
    margin-left: -20px;
    box-sizing: border-box;
}

.services-item+.services-item{
    margin-left: 20px;
}

.services-link{
    width: 250px;
    padding: 26px 28px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.services-link:hover{
    opacity: 0.8;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.services-link:active{
    opacity: 0.4;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.services-img{
    object-fit: contain;
    margin-left: 78px;
}

.services-heading{
    margin: 0;
    margin-top: 18px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.services-desc{
    margin: 0;
    margin-top: 10px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
}

/* ------BROWN SUGAR Section--------- */

.brown-sugar{
    background: #F8EDF0;
}

.brown-sugar-left-wrapper{
    padding-top: 119px;
    padding: 123px;
    background-image: url("../images/section2-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

.brown-sugar-heading{
    margin: 0;
    width: 349px;
    margin: 16px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
}

.brown-sugar-desc{
    margin: 0;
    width: 442px;
    margin-bottom: 35px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
}

/* SECTION PRODUCT */

.product-wrapper{
    margin-top: 135px;
}

/* PRODUCT TOP */

.product-top-heading{
    margin: 0;
    font-family: 'Hind Madurai';
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    text-align: center;
}

.product-top-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
}

.product-top-btn{
    text-decoration: none;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
}

.product-top-btn:hover{
    opacity: 0.8;
    border-bottom: 3px solid  #D64374;
}

.product-top-btn:active{
    opacity: 0.4;
    border-bottom: 3px solid  #D64374;
}

/* PRODUCT MAIN */

.product-list{
    list-style: none;
}


.product-item{
    display: flex;
    align-items: center;
}

.product-item:nth-child(even){
    flex-direction: row-reverse;
}

.product-text-wrapper{
    margin-left: 84px;
}

.product-heading{
    margin: 0;
    font-family: 'Hind Madurai';
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
}

.product-desc{
    margin: 0;
    opacity: 0.7;
}

.cost-wrapper{
    display: flex;
    align-items: center;
}

.cost-desc{
    font-family: 'Hind Madurai';
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    text-align: right;
}

.cost-discount{
    font-family: 'Hind Madurai';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
    text-decoration-line: line-through;
    opacity: 0.7;
}

/* FEeDBACK */
.feedback{
    display: flex;
    align-items: center;
    margin-top: 176px;
    margin-bottom: 149px;
}

.feedback-top-wrapper{
    display: flex;


}


.feedback-top-heading{
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.feedback-desc{
    margin: 0;
    margin-top: 6px;
    opacity: 0.7;
}

.blocquote{
    width: 10px;
    height: 10px;
}

.img-wrapper{
    display: flex;
    align-items: center;
}

.feedback-bottom-img{
    margin-left: 10px;
}


/* SIMPLE WAY */

.simple-way{
    background: #F8EDF0;

}

.container-wrapper-simple-way{
    padding-top: 90px;
    padding-bottom: 150px;
    display: flex;
    align-items: center;
}

/* .simple-way-img{
    position: relative;
    border-radius: 5px;
    margin-top: 98px;
} */

.simple-way-right-wrapper{
    margin-left: 100px;
}

.simple-way-heading{
    margin: 0;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
}

.simple-way-texr-desc{
    margin: 0;
    width: 607px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    opacity: 0.7;

}

.simple-way-list{
    list-style: none;
}

.simple-way-item{
    display: flex;
    align-items: center;
}

.simple-way-img-wrapper{
    background-color: white;
    padding: 8px;
    margin-top: 10px;
}

.simple-way-desc{
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    margin-left: 18px;
}



/*--------------- FORM --------------*/

.form-wrapper{
    margin-top: 150px;
    margin-bottom: 71px;
}

.form-heading{
    margin: 0;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
}


.form-top-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
}

.form-tel{
    width: 303px;
    height: 74px;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 29px;
    margin-right: 50px;
    border-radius: 5px;
    /* border: 2px solid #D64374 ; */
}


.form-question-type{
    width: 303px;
    height: 74px;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 29px;
    margin-top: 55px;
    opacity: 0.5;
    border: 2px solid #D64374;
    border-radius: 5px;
}

.form-bottom-wrapper{
    display: flex;
    align-items: center;
    margin-top: 36px;
    justify-content: center;
}

.form-bottom-input{
    width: 503px;
    height: 74px;
    padding: 25px 29px;
    border-radius: 5px;
    opacity: 0.5;
    border: 2px solid #D64374;
}

.form-bottom-btn{
    width: 134px;
    height: 74px;
    padding: 25px 29px;
    border-radius: 5px;
    border: 2px solid #D64374;
    background-color: #D23166;
}

/* -------------FOOTER_--------- */
footer{
    background-color: #000000;
}

.container-wrapper{
    display: flex;
    align-items: center;
}

.footer-info{
    margin-top: 70px;
}

.footer-desc{
    margin: 0;
    width: 207px;
    font-size: 16px;
    line-height: 150%;
    color: white;
}

.footer-cont-heading{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color:white;
}

.footer-cont-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-cont-item+.footer-cont-item{
    margin-left: 10px;
}

.footer-cont-link:hover{
    opacity: 0.8;
}

.footer-cont-link:active{
    opacity: 0.8;
}

.footer-list{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 16px;
}

.footer-middle-info{
    margin-top: 143px;
    margin-left: 37px;
}

.footer-right-info{
    margin-top: 150px;
    margin-left: 132px;
}

.footer-item+.footer-item{
    margin-top: 8px;
}

.about-site-link{
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
}

.about-site-link:hover{
    opacity: 0.8;
}

.about-site-link:active{
    opacity: 0.4;
}

.footer-info-item{
    width: 108px;
}

/* footer-newsletter-list */

.footer-newsletter{
    margin-top: 136px;
    margin-left: 151px;
}

.footer-newsletter-heading{
    font-weight: 500;;
    line-height: 19px;
    color: #FFFFFF;
}

.footer-form{
    display: flex;
    align-items: center;
}

.footer-form-input{
    width: 200px;
    padding: 14px 50px;
    border-radius: 5px;
    background-color: black;
    opacity: 0.5;
    border: 2px solid #D64374
}

.footer-newsletter-list{
    list-style: none;
    display: flex;
    align-items: center;
}

.footer-newsletter-item+.footer-newsletter-item{
    margin-left: 10px;
}

.footer-newsletter-img{
    object-fit: contain;
}